db='sqlite:db.sqlite'
logFile='log'
logLevel='info'
baseUrl='/repo-thumbnails/'
archeIdPrefix='https://'
archePropNmsp='https://vocabs.acdh.oeaw.ac.at/schema#'
archeModDateProp='https://vocabs.acdh.oeaw.ac.at/schema#hasBinaryUpdatedDate'
archeMimeProp='https://vocabs.acdh.oeaw.ac.at/schema#hasFormat'
archeSizeProp='https://vocabs.acdh.oeaw.ac.at/schema#hasRawBinarySize'
archeHashProp='https://vocabs.acdh.oeaw.ac.at/schema#hasHash'
archeTitleImageProp='https://vocabs.acdh.oeaw.ac.at/schema#isTitleImageOf'
archeSearchMatchProp='search://match'
archeMetaFetchHeader='X-METADATA-READ-MODE'
thumbnailDefaultWidth=100
thumbnailDefaultHeight=100
cacheDir='/home/zozlak/roboty/ACDH/repo/repo-thumbnails/tmp'
cacheKeepAlive=60
cacheMaxFileSizeMb='100'
cacheMaxSizeMb=10
cacheClearMode='size' ; 'size' or 'time'
mimeHandlers[]='\acdhOeaw\arche\thumbnails\handler\Text'
mimeHandlers[]='\acdhOeaw\arche\thumbnails\handler\Image'
mimeFallbackHandler='\acdhOeaw\arche\thumbnails\handler\Fallback'
textLineHeight=25
textMinLines=3
textMargin=0.05
fallbackStrokeWidth=0.02
fallbackFontWeight=600
fallbackFontColor='#8CD3D8'
fallbackLabelMinLength=10
fallbackMap['Place']='/var/www/html/assets/arche_place.svg'
fallbackMap['Person']='/var/www/html/assets/arche_person.svg'
fallbackMap['Organisation']='/var/www/html/assets/arche_organisation.svg'
fallbackImage='/var/www/html/assets/arche_resource.svg'
fallbackX=0.5
fallbackY=0.7
fallbackWidth=0.6
fallbackHeight=0.2

