db='sqlite:db.sqlite'
baseUrl='/repo-thumbnails/'
archeIdPrefix='https://id.acdh.oeaw.ac.at/'
archePropNmsp='https://vocabs.acdh.oeaw.ac.at/schema#'
archeModDateProp='http://fedora.info/definitions/v4/repository#lastModified'
archeMimeProp='http://www.ebu.ch/metadata/ontologies/ebucore/ebucore#hasMimeType'
archeSizeProp='http://www.loc.gov/premis/rdf/v1#hasSize'
archeHashProp='http://www.loc.gov/premis/rdf/v1#hasMessageDigest'
archeTitleImageProp='https://vocabs.acdh.oeaw.ac.at/schema#hasTitleImage'
archeSearchMatchProp='search://match'
archeMetaFetchHeader='X-METADATA-READ-MODE'
thumbnailDefaultWidth=100
thumbnailDefaultHeight=100
cacheDir='/home/zozlak/roboty/ACDH/repo/repo-thumbnails/tmp'
cacheKeepAlive=60
cacheMaxFileSizeMb='100'
cacheMaxSizeMb=10
cacheClearMode='size' ; 'size' or 'time'
mimeHandlers[]='\acdhOeaw\repo\thumbnails\handler\Text'
mimeHandlers[]='\acdhOeaw\repo\thumbnails\handler\Image'
mimeFallbackHandler='\acdhOeaw\repo\thumbnails\handler\Fallback'
textLineHeight=25
textMinLines=3
textMargin=0.05
fallbackStrokeWidth=0.02
fallbackFontWeight=600